.comments {

  >*+* {
    margin-top: var(--comment-gap);
  }

  &-content > * + * {
    margin-top: var(--comment-gap);
  }

  &-title {
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }

  &-replies {
    margin-top: var(--comment-gap);
    padding-left: 1.5rem;
    border-left: 2px solid var(--color-border);

    >*+* {
      margin-top: 2rem
    }

    &:not(:where(.has-reply-form, .has-replies)) {
      display: none;
    }
  }
}

.comment {
  // components
  &-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  &-iframe {
    padding: 1rem;
    background-color: var(--bg-post);

    iframe {
      width: 100%;
    }
  }

  &-author {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  &-badge {
    --i-size: 18px;
  }

  &-time {
    display: block
  }

  &-footer {
    margin-top: 1rem
  }

  &-restore-button {
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--color-border);

    &:not(.is-replying) {
      display: none
    }
  }

  &-reply-button {
    padding: 0.25rem 0.75rem;
    margin-right: 0.5rem;
    border: 1px solid var(--color-border);
  }
}
