.comment {

  //container
  &s {
    >*+* {
      margin-top: 2rem
    }

    &-title {
      margin-bottom: 2rem;
      font-size: 1.25rem;
    }

    &-replies {
      margin-top: 2rem;
      padding-left: 1.5rem;
      border-left: 2px solid var(--color-border);

      >*+* {
        margin-top: 2rem
      }
    }

  }

  // components
  &-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  &-iframe {
    padding: 1rem;
    background-color: var(--bg-post);
  }

  &-time {
    display: block
  }

  &-footer {
    margin-top: 1rem
  }

  &-restore-button:not(.is-replying) {
    display: none
  }
}