
.offcanvas {
  &-switch {
    position: absolute;
    color: #fff;
    top: 2rem;
    cursor: pointer;

    &::before {
      position: fixed;
      inset: 0;
      background-color: rgb(0 0 0 / 50%);
      transition: opacity var(--transition-config);
      cursor: default;
      content: "";
      z-index: 5;
    }
  }

  &-control {
    display: none;
  }
}

input#show {

  // Set variables for sidebar position and switch bars
  &-sidebar:checked~ :where(.offcanvas, .header) {
    --sidebar-position: 0;
    --switch-bars: 1;
  }

  // Set variables for search position and switch search
  &-search:checked~ :where(.offcanvas, .header) {
    --search-position: -50%;
    --switch-search: 1;
  }
}

.header {
  &-bars {
    &::before {
      pointer-events: var(--switch-bars, none);
      opacity: var(--switch-bars, 0);
    }
  }

  &-search {
    &::before {
      pointer-events: var(--switch-search, none);
      opacity: var(--switch-search, 0);
    }
  }
}

.sidebar {
  transform: translateX(var(--sidebar-position, -100%));
  transition: transform var(--transition-config);
}

.big-search {
  pointer-events: var(--switch-search, none);
  opacity: var(--switch-search, 0);
  transform: translate(-50%, var(--search-position,0%));
  transition: opacity var(--transition-config), transform var(--transition-config);
}
