.blog-pager {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pager-button {
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--color-border);
  padding: 0.75rem;

  &:hover {
    color: var(--primary);
  }
}