.post {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;

  &-header {
    padding-bottom: 2rem;
    text-align: center;
  }

  &-date {
    margin-top: .5rem;
    display: block;
    text-transform: capitalize;
  }

  &-title {
    color: var(--color-title);
    font-size: 2.5rem;
    font-family: var(--font-title);
    font-weight: 800;
  }

  &-body {
    line-height: 1.75;
    font-size: 1.125rem;
  }

  &-comment {
    margin-top: 2rem
  }
}