// Typography
// A good practice is to keep specificity as low as possible, use ":where" to achieve it.
// @docs: https://developer.mozilla.org/en-US/docs/Web/CSS/:where
.typography {

  // Headings
  :where(h1, h2, h3, h4, h5, h6) {
    margin-bottom: var(--typography-spacing-headings);
    font-family: var(--font-title-family);
    color: var(--color-title);
    font-weight: 800;
  }

  // Blockquote
  :where(blockquote) {
    border-inline-start: 4px solid var(--color-border);
    padding-inline-start: 1.5rem;
    position: relative;
  }

  // Lists
  :where(ul, ol) {
    padding-inline-start: 1.5rem;
  }

  :where(ul) {
    list-style: disc;
  }

  :where(ol) {
    list-style: decimal;
  }

  // Images
  :where(figure) {
    position: relative;

    :where(figcaption) {
      text-align: center;
      margin-top: 0.75rem;
      font-size: .875rem;
    }
  }

  // Videos
  :where(iframe[src^=http]) {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
  }

  // Spacing
  // Grouping elements with the same margin-bottom
  // :where() is used to avoid specificitsy issues
  :where(p, figure, img, blockquote, ul, ol, pre, table, div[class]) {
    // Ignore the last element
    &:not(:where(:last-child, :where(figure, blockquote) :last-of-type)) {
      margin-bottom: var(--typography-spacing);
    }
  }
}
