<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html b:js='true'>
<b:include name='m:root'/>
<head>
  <title>
    <data:view.title.escaped/>
  </title>
  <b:include name='m:head'/>
  {{!-- Default skin --}}
  {{> skin}}
  {{!-- Default markups --}}
  {{> markups}}
  {{!-- Generate responsive image styles --}}
  <b:if cond='not data:view.isPreview'>
    <b:include data='{
      selector: ".header",
      image: data:skin.vars.body_background.image
    }' name='responsiveImageStyle'/>
  </b:if>
</head>

<body>
  <b:include name='@kind'/>
  <b:tag name='div' class='layout-edit' cond='data:view.isLayoutMode and data:skin.vars.a_layoutEdit'>
  {{!-- Offcanvas --}}
  {{> partial-offcanvas}}
  <b:tag cond='data:view.isLayoutMode' name='div' class='layout-section'>
    {{!-- Header --}}
    <header class='header'>
      {{> partial-header}}
    </header>
    {{!-- Content --}}
    <div class='template'>
      <div class='container'>
        <main class='main'>
          {{> partial-main}}
        </main>
        {{!-- footer --}}
        <footer class='footer'>
          {{> partial-footer}}
        </footer>
      </div>
    </div>
  </b:tag>
  </b:tag>
</body>
</html>
