{{!--
Create a menu from a list of links
@author zkreations
@param {array} links - Array of links
@param {string} [prefix="__"] - Prefix for filter links
@param {string} [class] - Class for the menu
@param {string} [id] - Id for the menu
--}}
<b:includable id='@menu'>
  <b:with value='data:prefix ?: "__"' var='prefix'>
    {{!-- Check if the first element contains the prefix --}}
    <b:if cond='data:links[0].title contains data:prefix'>
      <b:comment render='true'>The first element can't have the prefix</b:comment>
    {{!-- Check if the element is a number --}}
    <b:elseif cond='data:links any (l => l.title + 0 == l.title)'/>
      <b:comment render='true'>The element can't be a number</b:comment>
    {{!-- Check if the array is empty --}}
    <b:elseif cond='!data:links.any'/>
      <b:comment render='true'>The array is empty</b:comment>
    {{!-- Start the menu --}}
    <b:else/>
      <ul class='nav'>
        {{!-- Add classes and id to the menu --}}
        <b:class cond='data:class' expr:name='data:class'/>
        <b:attr name='id' expr:value='data:id'/>
        <b:loop index='i' values='data:links' var='link'>
          {{!-- Check if the current or the next element contains the prefix --}}
          <b:with value='{
              current: (data:link.title contains data:prefix),
              next: (data:links[data:i + 1].title contains data:prefix)
            }' var='hasPrefix'>
          {{!-- Check if the menu has to be started or ended --}}
          <b:with value='{
              start: (data:hasPrefix.next and !data:hasPrefix.current),
              end: (!data:hasPrefix.next and data:hasPrefix.current)
            }' var='menu'>
            {{!-- Create a element of the menu --}}
            &lt;li class="nav-item<b:if cond='data:menu.start'> has-subnav</b:if>"&gt;
            {{!-- Create a link --}}
            <a class='nav-link' expr:href='data:link.href'><data:link.title/></a>
            {{!-- Start the submenu --}}
            <b:if cond='data:menu.start'>
              &lt;ul class="nav-subnav"&gt;
            </b:if>
            {{!-- End the submenu --}}
            <b:if cond='data:menu.end'>&lt;/li&gt;&lt;/ul&gt;</b:if>
            {{!-- End the element of the menu --}}
            <b:if cond='!data:menu.start'>&lt;/li&gt;</b:if>
          </b:with>
          </b:with>
        </b:loop>
      </ul>
    </b:if>
  </b:with>
</b:includable>
