:root {
  --transition-config: 0.5s cubic-bezier(0.54,0,0.1,1);
  --sidebar-gap: 2rem;
  --form-padding: .75rem 1rem;
  --form-gap: .75rem;

  --typography-spacing: 1.5rem;
  --typography-spacing-headings: 1rem;

  --comment-gap: 2rem;

  --sidebar-width: 320px;
  --container: 1100px;

  --font-open-sans: 'Open Sans', sans-serif;
  --font-system: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
