
// Display none for the admin controls
:where(.item-control, .blog-admin) {
  display: none
}

// No show for the empty sections
:where(.section.no-items) {
  display: none;
}

// No show adsense ads if they are not filled
ins.adsbygoogle[data-ad-status="unfilled"] {
  display: none !important;
}
