{{!--
Partial: Offcanvas
@author zkreations
--}}
{{!-- Offcanvas controls --}}
<input class='offcanvas-control' type='checkbox' name="offcanvas" id='show-sidebar'/>
<input class='offcanvas-control' type='checkbox' name="offcanvas" id='show-search'/>
{{!-- Offcanvas --}}
<div class='offcanvas layout-section'>
  {{!-- Sidebar --}}
  <b:section id='sidebar' class='sidebar' ads='true'>
    {{!-- Custom PageList widget (disable title) --}}
    <b:widget id='PageList1' type='PageList' version='2' locked='true'>
      <b:includable id='widget-title'>
        <b:include name='@attr' data='{["id"],["data-version"]}'/>
      </b:includable>
    </b:widget>
    {{!-- Other widgets --}}
    <b:widget id='Label1' title='Etiquetas' type='Label'/>
  </b:section>
  {{!-- Search --}}
  <form class='big-search' expr:action='data:blog.searchUrl' method='get' tabindex='-1'>
    <input class='big-search-input' autocomplete='off' name='q' expr:placeholder='data:view.search.query.escaped ?: data:messages.search' spellcheck='false' type='text'/>
  </form>
</div>
