
body {
  font-family: var(--font-system);
  background-color: var(--bg-body);
  color: var(--color-text);
}

a {
  color: var(--primary);
}

table tr > * {
  border: 1px solid var(--color-border);
}
