:root {
  --body-color: $(body.background.color);
  --body-bg: $(body.background);
  --color-text: $(color.text);
  --color-border: $(color.border);
  --color-header: $(color.header);
  --bg-page: $(bg.page);
  --bg-post: $(bg.post);
  --bg-header: $(bg.header)
}