{{!--
Content of the widget TextList
@author zkreations
@see https://bloggercode-blogconnexion.blogspot.com/2019/03/widget-textList.html
--}}
<b:includable id='widget:TextList'>
  <ul class='textlist'>
    <b:loop values='data:items' var='item'>
      <li class='textlist-item'><data:item/></li>
    </b:loop>
  </ul>
</b:includable>
